html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin: 0;
}
body.modal-open {
  overflow: hidden;
}

h2,
h3 {
  color: #212121;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 479px) {
  .container {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list,
li > p {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header .container {
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    min-width: 1200px;
  }
}

.header__logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (max-width: 1199px) {
  .header__logo {
    display: block;
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}

.header__logo__start {
  color: #2196F3;
}

.nav, .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .nav, .nav__link {
    width: 480px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__element {
  display: none;
}
.nav__element a {
  display: block;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__element .nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__element a:hover, .nav__element a:focus, .nav__element a.nav__current {
  color: #2196F3;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
}
@media screen and (min-width: 768px) {
  .nav__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 96px;
  }
}

.nav__item {
  position: relative;
}
.nav__item .nav__link {
  padding: 0;
}

.nav__current::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
}

.nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__contacts {
    display: block;
  }
  .nav__contacts .nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__contacts .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link:hover .nav__email, .nav__link:focus .nav__email, .nav__link:hover .nav__number, .nav__link:focus .nav__number {
  fill: #2196F3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__link {
    font-size: 12px;
  }
}

.nav__email, .nav__number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__email:hover, .nav__number:hover, .nav__email:focus, .nav__number:focus {
  fill: #2196F3;
}

.main__section {
  color: #ffffff;
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-desktop-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-desktop-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main__section {
    min-width: 768px;
    height: 400px;
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-img.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .main__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .main__section {
    min-width: 480px;
    height: 400px;
    padding: 118px 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-phone-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-phone-img.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .main__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-phone-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-phone-img@2x.jpg);
  }
}
@media screen and (max-width: 479px) {
  .main__section {
    min-width: 300px;
    height: 250px;
    padding: 60px 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-phone-img@075.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-phone-img@075.jpg);
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .main__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-phone-img@15x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-phone-img@15x.jpg);
  }
}

.main__section .container {
  width: 767px;
}
@media screen and (max-width: 479px) {
  .main__section .container {
    width: 280px;
    height: 127px;
    padding: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .main__section .container {
    width: 360px;
    height: 164px;
    padding: 0;
  }
}

.main__header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .main__header {
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: 1.56px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .main__header {
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 1.56px;
  }
}

.main__button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196F3;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87x;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;
  min-width: 216px;
}
.main__button:active {
  color: #2196F3;
  background-color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
@media screen and (max-width: 1199px) {
  .modal {
    top: 380px;
    height: 100%;
    max-height: 609px;
    width: 100%;
    max-width: 450px;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    top: 502px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    top: 350px;
    height: 100%;
    max-height: 609px;
    width: 100%;
    max-width: 300px;
    padding: 40px 10px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0;
}
.modal__close:focus .icon__close {
  fill: #2196F3;
}

.icon__close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__close:hover {
  fill: #2196F3;
}

.modal__head {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 0;
  margin-bottom: 12px;
}

.form {
  width: 448px;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form {
    width: 370px;
  }
}
@media screen and (max-width: 479px) {
  .form {
    width: 280px;
  }
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__field:focus-within .form__input {
  border-color: #2196F3;
  outline: none;
}
.form__field:focus-within > .form__icon {
  fill: #2196F3;
}

.form__field input {
  width: 448px;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #000000;
  font-size: 16px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__field input {
    width: 370px;
  }
}
@media screen and (max-width: 479px) {
  .form__field input {
    width: 280px;
  }
}

.form__field textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__field textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__field textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__field textarea {
    width: 370px;
  }
}
@media screen and (max-width: 479px) {
  .form__field textarea {
    width: 280px;
  }
}

.form__field label {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .form__checkbox {
    margin-left: 0;
  }
}

.checkbox__text {
  margin: 0 0 0 7px;
}
@media screen and (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: inline-block;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:focus + .checkbox__icon {
  border-color: #2196F3;
}
.checkbox:checked + .checkbox__icon {
  background-color: #2196F3;
  border-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
}

.checkbox__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link {
  color: #2196F3;
}

.form__send {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  border: 0;
  background: #188CE8;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
}
.form__send:active {
  background: #ffffff;
  color: #188CE8;
}
@media screen and (max-width: 479px) {
  .form__send {
    margin-top: 20px;
  }
}

.visually__hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.advantages {
  background-color: #ffffff;
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 0px;
}
@media screen and (max-width: 1199px) {
  .advantages {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 479px) {
  .advantages {
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__block {
    width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages__block {
    display: block;
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .advantages__block {
    display: block;
    width: 300px;
  }
}

.advantages__item {
  width: 270px;
  margin-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: 354px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .advantages__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .advantages__item:not(:nth-child(n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages__item {
    width: 450px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .advantages__item {
    width: 300px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.advantages__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__background {
    width: 354px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages__background {
    width: 450px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .advantages__background {
    width: 300px;
    margin-bottom: 15px;
  }
}

.icon__attention,
.icon__punctuality,
.icon__plan,
.icon__tech {
  fill: #212121;
}

.advantages__h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages__h3 {
    text-align: center;
  }
}

.work {
  background-color: #ffffff;
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img__element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.img__element:nth-child(3n) {
  margin-right: 0;
}
.img__element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.img__overlay {
  position: relative;
}

.img__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
}

.work__h2, .team__h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team {
  background-color: #F5F4FA;
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 479px) {
  .team {
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__label {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .team__label {
    padding-bottom: 24px;
  }
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__members {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__element {
  width: 270px;
  margin-right: 30px;
}
.team__element:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__element {
    width: 354px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .team__element:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__element:not(:nth-child(n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__element {
    width: 450px;
    height: 622px;
  }
  .team__element:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 479px) {
  .team__element {
    width: 300px;
    height: 469px;
  }
  .team__element:not(:last-child) {
    margin-bottom: 15px;
  }
}

.team__position {
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 16px;
}

.team__card {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__card {
    width: 450px;
    height: 622px;
  }
}
@media screen and (max-width: 479px) {
  .team__card {
    width: 300px;
    height: 469px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__card img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (max-width: 479px) {
  .team__card img {
    width: 300px;
    height: 307px;
  }
}

@media screen and (max-width: 1199px) {
  .team__h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.social__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}
.social__link:hover .social__item, .social__link:focus .social__item {
  fill: #ffffff;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  background-color: #ffffff;
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 479px) {
  .clients {
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.clients__h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .clients__h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.clients__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .clients__catalog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .clients__catalog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
}
.clients__link:hover .clients__item, .clients__link:focus .clients__item {
  fill: #2196F3;
}
@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}

.clients__item {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 479px) {
  .footer {
    min-width: 320px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .footer .container {
    display: block;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer .container {
    display: block;
    min-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__contacts {
  width: 232px;
}
@media screen and (max-width: 767px) {
  .footer__contacts {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    display: inline-block;
    width: 232px;
    margin-right: 0;
    margin-left: 51px;
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: block;
    width: 154px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    display: inline-block;
    width: 232px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__logo__start {
  color: #2196F3;
}

.address {
  color: #ffffff;
  font-style: normal;
}
.address a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address a:hover, .address a:focus {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .address {
    display: block;
    width: 232px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .address a {
    margin-top: 8px;
  }
}

.footer__social {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .footer__social {
    display: block;
    width: 206px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social {
    display: block;
    width: 206px;
    margin-left: 165px;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__text {
    display: block;
    text-align: center;
  }
}

.footer__social .social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social .social__link:hover, .footer__social .social__link:focus {
  background-color: #2196F3;
}

.footer__social .social__item {
  fill: #ffffff;
}

.footer__submit {
  display: block;
  margin-left: 93px;
}
@media screen and (max-width: 479px) {
  .footer__submit {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__submit {
    display: block;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__email {
    display: block;
  }
}

.footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
@media screen and (max-width: 479px) {
  .footer__input {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__input {
    display: block;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-top: 0px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #2196F3;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
}
.footer__button:active {
  background-color: #ffffff;
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .footer__button {
    margin-right: auto;
    margin-left: auto;
  }
}

.button__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon {
  margin: 0 0 0 10px;
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 479px) {
  .examples {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .examples {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.nav__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 479px) {
  .nav__portfolio {
    width: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    row-gap: 21px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav__portfolio {
    width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    row-gap: 21px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 199px) {
  .nav__portfolio {
    width: 354px;
    margin-bottom: 30px;
  }
}

.nav__portfolio button:hover,
.nav__portfolio button:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.nav__portfolio button:active {
  color: #2196F3;
  background-color: #ffffff;
}

.nav__button {
  margin-left: 0;
  margin-right: 8px;
}
.nav__button:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .nav__button {
    margin-right: 0;
  }
}

.nav__items {
  color: #212121;
  background-color: #F5F4FA;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: 0;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: box-shadow, color, background-color;
  transition-property: box-shadow, color, background-color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__items:hover, .nav__items:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 479px) {
  .nav__items {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.first {
  padding-left: 25px;
  padding-right: 25px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .projects .projects__card:nth-child(2) {
    height: 385px;
  }
}

.projects__card {
  width: 370px;
  height: 404px;
}
@media screen and (max-width: 479px) {
  .projects__card {
    width: 300px;
    height: 349px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .projects__card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__card {
    width: 354px;
    height: 404px;
  }
  .projects__card:first-child {
    height: 440px;
  }
}

.projects__card .projects__link {
  text-decoration: none;
}

.projects__link {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__link:hover .projects__text,
.projects__link:focus .projects__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.box__img {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  .box__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    height: 239px;
  }
}

.projects__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
}
@media screen and (max-width: 479px) {
  .projects__img {
    width: 300px;
    height: 239px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .projects__img {
    width: 450px;
  }
}

.projects__text {
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  margin: 0;
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .projects__text {
    width: 450px;
  }
}

.projects__h2 {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.projects__chapter {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin: 0;
}

.projects__label {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__label.first {
    padding-bottom: 56px;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: #000000;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ffffff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

.menu__element {
  display: block;
  text-align: left;
}
.menu__element a {
  display: block;
  color: #212121;
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__element a:hover, .menu__element a:focus, .menu__element a.menu__current {
  color: #2196F3;
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav {
  margin-bottom: auto;
}

.menu__contacts {
  text-align: left;
}

.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.menu__phone {
  margin-bottom: 32px;
}
.menu__phone a {
  color: #2196F3;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
@media screen and (max-width: 479px) {
  .menu__phone a {
    font-size: 26px;
  }
}

.menu__email a {
  color: #757575;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0;
}
@media screen and (max-width: 479px) {
  .menu__social {
    width: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  .menu__social .menu__box:nth-child(3) {
    width: 96px;
    margin-left: 0;
  }
}

.menu__box {
  display: block;
  height: 22px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.menu__box:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu__box:not(:first-child) {
  margin-left: 10px;
}
@media screen and (max-width: 479px) {
  .menu__box:nth-child(2) {
    border: 0;
  }
}

.menu__bottom {
  display: block;
  color: #2196F3;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.menu-toggle.js-close-menu:focus .icon__close, .menu-toggle.js-close-menu:hover .icon__close {
  fill: #2196F3;
}

.icon__close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__close:hover, .icon__close:focus {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */