@import './utils/variables';
@import './utils/global-styles';
@import './components/header';
@import './components/header-logo';
@import './components/header-nav';
@import './components/header-contacts';
@import './components/index-main';
@import './components/index-modal';
@import './components/index-advantages';
@import './components/index-work';
@import './components/index-team';
@import './components/index-team-social';
@import './components/index-clients';
@import './components/footer';
@import './components/footer-social';
@import './components/footer-submit';
@import './components/portfolio-main';
@import './components/portfolio-nav';
@import './components/portfolio-projects';
// @import './components/index-menu';
@import './components/index-mobile-menu';