// Стилизация футера
.footer {
    background-color: $bkg-header;
    min-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width:479px) {
            min-width: 320px;
            padding-top: 40px;
            padding-bottom: 40px;
    }

    @media screen and (min-width:480px) and (max-width: 1199px) {
            min-width: 480px;
            padding-top: 60px;
            padding-bottom: 60px;
    }
}

.footer .container {
    @media screen and (max-width:479px) {
        display: block;
        min-width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width:480px) and (max-width: 767px) {
        display: block;
        min-width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        min-width: 768px;
        flex-wrap: wrap;
    }
}

.footer__module {
    display: flex;
    position: relative;
    align-items: baseline;
}

.footer__contacts {
    width: 232px;

    @media screen and (max-width:767px) {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-block;
        width: 232px;
        margin-right: 0;
        margin-left: 51px;
        margin-bottom: 60px;
        text-align: center;
    }

}

// Стилизация логотипа футера
.footer__logo {
    display: block;
    margin-bottom: 20px;
    color: $color-white;

    text-decoration: none;
    font-family: $font-logo, $font-aux;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;
    margin-right: 93px;

    @media screen and (max-width:767px) {
        display: block;
        width: 154px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-block;
        width: 232px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.footer__logo__start {
    color: $color-accent;
}

// Стилизация адреса в футере
.address {
    color: $color-white;
    font-style: normal;

    a {
        display: block;
        color: $footer-contacts;
        text-decoration: none;
        margin-top: 9px;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a:hover,
    & a:focus {
        color: $color-accent;
    }

    @media screen and (max-width:767px) {
        display: block;
        width: 232px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        a {
            margin-top: 8px;
        }
    }
}