// Стилизация логотипа 
.header__logo {
    color: $color-logo;

    text-decoration: none;
    font-family: $font-logo, $font-aux;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 767px) {
        margin-right: 276px;
    }

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        letter-spacing: 0.72px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        letter-spacing: 0.78px;
        margin-right: 93px;
    }
}

.header__logo__start {
    color: $color-accent;
}