// Нижняя линия в хедере
.header {
    border-bottom: 1px solid $line;

    // Стилизация контейнера в хедере
    .container {
        position: relative;
        display: flex;
        align-items: center;
    }
}