// Нижняя линия в хедере
.header {
    border-bottom: 1px solid $line;

    // Стилизация контейнера в хедере
    .container {
        position: relative;
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            height: 60px;
        }
    }
    @media screen and (min-width:1200px) {
        min-width: 1200px;
    }
}