// Стиль секции клиентов
.clients {
  background-color: $bkg-color;
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 479px) {
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.clients__h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;

  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.clients__catalog {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.clients__link {
  display: flex;

  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $color-border-logo;
  align-items: center;
  justify-content: center;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $color-accent;
  }

  &:hover .clients__item,
  &:focus .clients__item {
    fill: $color-accent;
  }

  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
}

.clients__item {
  fill: $color-border-logo;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
