// Стилизация главной секции
.main__section {
    color: $color-white;
    background-color: $bkg-header;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)),
            url(../images/header-desktop-img.jpg); // Фон 1х для desktop
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // Фон 2х для desktop
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.40),
                            rgba(47, 48, 58, 0.40)),
                            url(../images/header-desktop-img@2x.jpg);
            }

    @media screen and (max-width: 767px) {
        max-width: 480px;
        height: 400px;
        padding: 118px 60px;

        background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.40),
                        rgba(47, 48, 58, 0.40)),
                        url(../images/header-phone-img.jpg); // Фон 1х для phone

        // Фон 2х для phone
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.40),
                                rgba(47, 48, 58, 0.40)),
                                url(../images/header-phone-img@2x.jpg);
            }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 768px;
        height: 400px;
        padding: 118px 204px;

        background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.40),
                        rgba(47, 48, 58, 0.40)),
                        url(../images/header-tablet-img.jpg); // Фон 1х для tablet
        
        // Фон 2х для tablet
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.40),
                                rgba(47, 48, 58, 0.40)),
                                url(../images/header-tablet-img@2x.jpg);
            }
    }
        
}

// Стилизация контейнера главной секции
.main__section {
    .container {
        width: 698px;

        @media screen and (max-width:1199px) {
            width: 360px;
            height: 164px;
            padding: 0;
        }
    }
}

// Стилизация заголовка главной секции
.main__header {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;

    @media screen and (max-width:1199px) {
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 1.56px;
    }
}

// Стиль для кнопки в первой секции
.main__button {
    display: inline-block;

    color: $color-white;
    background-color: $color-accent;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87x;
    letter-spacing: 0.96px;

    border-radius: 4px;
    border: 0px;
    padding: 10px 32px;
    min-width: 216px;

    &:active {
        color: $color-accent;
        background-color: $color-white;
    }
}
