// Стилизация секции work
.work {
    background-color: $bkg-color;
    min-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:1199px) {
        display: none;
    }
}

.work__img {
    display: flex;
    flex-wrap: wrap;
}

.img__element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.img__overlay {
    position: relative;

}

.img__text {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    background: $color-overlay;

    align-items: center;
}

.work__h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: $color-white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    margin: 0;
}

.work__h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;

    margin-bottom: 50px;
}