html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    // Основной цвет фона
    background-color: $bkg-color;
    // Основной цвет текста
    color: $color;
    // Параметры шрифта
    font-family: $font-main, $font-aux;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    // Сброс отступов
    margin: 0;
    // Запрет прокрутки фона при открытом модальном окне (для мобильной версии)
    &.modal-open {
        overflow: hidden;
    }
}

// Общая стилизация заголовков
h2,
h3 {
    color: $color-header;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 10px;
}

// Стили картинок
img {
    display: block;
}

// Стили контейнера
.container {
    // min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width: 479px) {
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }

    @media screen and (min-width:480px) and (max-width: 767px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) and (max-width:1199px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

// Стиль для сброса настроек
.list,
li>p {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}